/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

table, td {
    border: 2px solid black !important;
}


    td:nth-child(2) {
        width: 80px;
    }

    td:nth-child(n+3) {
        width: 13%;
    }

.questionnaire-td:nth-child(2) {
    width: 100px !important;
}



.green {
    background-color: aquamarine;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: lightcoral;
}



.selected {
    background-color: #DDDDDD;
}

table {
    width: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

#containerCreation {
    display: none;
}

    #containerCreation.active {
        display: inline;
    }